# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependências (NPM)
/node_modules

# Logs
npm-debug.log*

# Configuração de Editor (VS Code)
.vscode/

# Build e Cache do Next.js
/.next/
/out/

# Arquivos de Tipos Gerados (TypeScript)
*.tsbuildinfo
next-env.d.ts

# Arquivos de Ambiente (MUITO IMPORTANTE)
# Nunca envie seus segredos (chaves de API, senhas de banco)
.env
.env.local
.env.development
.env.production

# Exceção para um arquivo de exemplo
!.env.example

# Arquivos de Sistema (macOS)
.DS_Store

# Chaves de segurança
*.pem